name: Deploy to Ubuntu Server

on:
  push:
    branches: [ main, master ]  # запуск при пуше в main ветку

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Deploy via SSH
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USER }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        script: |
          cd /root/crypto_app/crypto_app
          git pull origin main
          source venv/bin/activate
          pip install -r requirements.txt
          sudo systemctl restart crypto_app
          echo "Deployment completed successfully!"